<a href="https://colab.research.google.com/github/ntabanarachel/tech-stack-with-MySQL-DBT-Airflow-and-Spark/blob/main/extraction/extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load sample data

 we  used apache spark to load richard csv

In [ ]:
# Use the Spark CSV datasource with options specifying:
# - First line of file is a header
# - Automatically infer the schema of the data
'%python'
data = spark.read.csv("/content/richards.csv", header="true", inferSchema="true")
data.cache() # Cache data for faster reuse
data = data.dropna() # drop rows with missing values

In [ ]:
!pip  install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 62 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58761 sha256=9ad8b36d913275b0d68e9f521ccf5a577e661bac8ea2203de85b67f2de772174
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 70 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 64.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=6987f9f3487ac4b78e4a4b0fd83024878eb1beb6a1bb87856957c3e2fdc48388
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [ ]:
'%python'
data.take(10)

[Row(flow1=1, occupancy1=0.0056, flow2=3, occupancy2=0.02, flow3=0, occupancy3=0.0, totalflow=4, weekday=4, hour=0, minute=0, second=0),
 Row(flow1=1, occupancy1=0.0044, flow2=1, occupancy2=0.0056, flow3=2, occupancy3=0.0111, totalflow=4, weekday=4, hour=0, minute=0, second=30),
 Row(flow1=2, occupancy1=0.0111, flow2=5, occupancy2=0.0278, flow3=1, occupancy3=0.0111, totalflow=8, weekday=4, hour=0, minute=1, second=0),
 Row(flow1=0, occupancy1=0.0, flow2=2, occupancy2=0.01, flow3=0, occupancy3=0.0, totalflow=2, weekday=4, hour=0, minute=1, second=30),
 Row(flow1=0, occupancy1=0.0, flow2=2, occupancy2=0.01, flow3=2, occupancy3=0.0178, totalflow=4, weekday=4, hour=0, minute=2, second=0),
 Row(flow1=0, occupancy1=0.0, flow2=1, occupancy2=0.0056, flow3=0, occupancy3=0.0, totalflow=1, weekday=4, hour=0, minute=2, second=30),
 Row(flow1=1, occupancy1=0.0044, flow2=4, occupancy2=0.0222, flow3=2, occupancy3=0.01, totalflow=7, weekday=4, hour=0, minute=3, second=0),
 Row(flow1=0, occupancy1=0.0, flow2=0, occupancy2=0.0, flow3=0, occupancy3=0.0, totalflow=0, weekday=4, hour=0, minute=3, second=30),
 Row(flow1=3, occupancy1=0.0178, flow2=4, occupancy2=0.0233, flow3=2, occupancy3=0.0167, totalflow=9, weekday=4, hour=0, minute=4, second=0),
 Row(flow1=1, occupancy1=0.0044, flow2=5, occupancy2=0.03, flow3=1, occupancy3=0.0056, totalflow=7, weekday=4, hour=0, minute=4, second=30)]

In [ ]:
'%python'
display(data)

DataFrame[flow1: int, occupancy1: double, flow2: int, occupancy2: double, flow3: int, occupancy3: double, totalflow: int, weekday: int, hour: int, minute: int, second: int]

Run SQL queries
Before you can issue SQL queries, you must save your data DataFrame as a temporary table:

In [ ]:
'%python'
# Register table so it is accessible via SQL Context
data.createOrReplaceTempView("richards")

Visualize the DataFrame

select `year`, `occupancy1` from richards

*italicized text*